<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Avaliação Formadora II</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <ion-grid fixed>
      <ion-row>

        <!--Card 01-->
        <ion-col size="12">
          <ion-card class="dark">
            <img [src]="imagemUrl" alt="Foto aleatória" style="width: 100%; border-radius: 10px;" />
            <ion-card-header>
              <ion-card-title>Faculdade</ion-card-title>
              <ion-card-subtitle class="task-card">
                <ion-icon name="stopwatch-outline" class="fl"></ion-icon>
                <p>30min</p>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>Criar um formulário web, que respeite a identidade visual da UNISUAM e também cubra múltiplas necessidades. Os alunos deverão utilizar HTML e CSS para o desenvolvimento.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

</ion-content>
