<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora II
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-item button lines="none" >
      <ion-avatar slot="start" class="dark">
        <img src="../../assets/foto-home-menu.png" alt="Foto">
      </ion-avatar>
      <ion-label>
        Marcus Arthur Coutinho de Souza
        <p>Matrícula: 24104864</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
